src/*.exe
src/kryptocoin
src/kryptocoind
src/test_kryptocoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.kryptocoin

# Compilation and Qt preprocessor part
*.qm
Makefile
kryptocoin-qt
Kryptocoin-Qt.app

# Unit-tests
Makefile.test
kryptocoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
